*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

div{
    /* border: 1px solid; */
}
/* header */

#header{
    position: sticky;
    top: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

nav ul li{
    display: inline-block;
}

.row{
    display: flex;
}

.menu-1{
    margin-left: auto;
}

.logo-h2{
    font-size: 2.5rem;
    color: rgb(218, 73, 128);
    font-weight: 600;
}

.logo-h2 span{
    color: black;
    font-weight: 400;
}

.line-150{
    line-height: 4.5rem;
}

.menu ul li a{
    margin: 0 3rem;
    color: black;
    font-weight: 600;
}

.inp-1{
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 0;
}

#header{
    background-color: rgb(102, 172, 233);
}

/* section-1 */

.col-50{
    width: 50%;
}

.home-h3{
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    color: black;
    text-align: center;
}

.home-p{
    text-align: center;
    font-weight: 600;
}

.com-h2{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
}

.inp-2{
    background-color: rgb(65, 88, 107);
    color: white;
    font-weight: 600;
    padding: 0.7rem;
    border-radius: 1rem;
    text-align: center;
    margin: 2rem 12rem;
}
.inp-2:hover{
    background-color: white;
    color: rgb(65, 88, 107) ;
}

.img-1{
    margin: 3rem 0;
}

/* section-2 */

.about{
    text-align: center;
}

#sec-2{
    background-color: brown;
}

.about-h2{
    font-size: 4rem;
    font-weight: 600;
    text-decoration: underline;
    padding-bottom: 3rem;
}

.aboutus-h2{
    font-size: 3rem;
    padding: 2rem 20rem;
}

.about-p{
    padding: 0 22rem;
    padding-bottom: 3rem;
}

/* section-3 */

.col-33{
    width: 33.33%;
}

.services{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-decoration: underline;
    padding-bottom: 1.5rem;
}

.col-50 img{
    height:28rem;
    width: 40rem;
}

.h2-3{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem;
}

/* section-4 */


.con-h2{
    text-align: center;
    color: rgb(243, 75, 109);
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
}

.con-h2 span{
    color: rgb(46, 24, 29);
}

.contact{
    color: rgb(243, 75, 109);
}

.contact-h3{
    padding-top: 6rem;
}

.contact-h4{
    color:  rgb(46, 24, 29);
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
}

.contact-h1{
    padding: 1rem 0;
}

.contact-h2{
    padding-top: 1rem;
    padding-bottom: 6rem;
}

.box-1{
    padding: 0.7rem;
    margin: 2.2rem 1rem;
    background-color: rgb(46, 24, 29) ;
    display: flex;
    width: 25rem;
}

.box-4{
    padding: 0.7rem;
    margin: 1rem 1rem;
    background-color: rgb(46, 24, 29) ;
    width: 25rem;
    display: flex;
}

.message-1{
     padding: 3rem 7rem;
     background-color: rgb(46, 24, 29);
     margin: 0 1rem;
     color: white;
}

.contact i{
    color:  rgb(46, 24, 29);
}

.inp-3{
  padding: 0.5rem 2rem;  
  margin: 1rem 1rem;
  background-color: rgb(46, 24, 29) ;
  color: white;
}

.inp-3:hover{
    background-color: whitesmoke;
    color:  rgb(46, 24, 29) ;
}

/* section-5 */

.col-33 h2{
    font-size: 2.5rem;
    padding: 2rem 0;

}

#sec-5{
    background-color: rgb(138, 138, 241);
}

.col-33 h3{
    padding: 1rem 0;
}

.sev-1 li{
    text-decoration: none;
}

#col20-ul{
    list-style-type: none;
}

#col20-ul i{
    color: black;
}

a{
    color: black;
}
