*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

a{
    text-decoration: none;
}

div{
    border: 1px solid;
}

#header{
position: sticky;
top: 0;
}

.container{
    width: 1250px;
    margin: 0 auto;
}

nav ul li{
    display: inline-block;
}

.row{
    display: flex;
}

.menu{
    margin-left: auto;
}

.line-150{
    line-height: 5rem;
}

.menu ul li a{
    margin: 0 3rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.menu ul li span{
    color: rgb(46, 24, 29);
}

#header{
    background-color: rgb(243, 75, 109);
}
/* section=1  */

.logo-h2{
    font-size: 2.5rem;
    color:white;
}

.logo-h2 span{
    color: rgb(46, 24, 29);
}

.col-50{
    width: 50%;
}

.name-h4{
    font-size: 2.5rem;
    color:  rgb(243, 75, 109);
    font-weight: 400;
    padding-top: 6rem;
}

.name-h2{
    font-size: 5rem;
    color: rgb(243, 75, 109) ;
    font-weight: 600;
}

.name-h3{
    font-size: 2.3rem;
    color:rgb(243, 75, 109) ;
    font-weight: 400;
}

.name-h3 span{
    color: rgb(46, 24, 29);
    text-decoration: underline;
}

.btn-all{
    padding: 0.8rem 3rem;
    margin-top: 1rem;
    margin-bottom: 6rem;
    color: rgb(46, 24, 29);
    background-color:rgb(243, 75, 109) ;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-color: rgb(44, 37, 39);
    cursor: pointer;
}

.btn-all:hover{
    color: rgb(243, 75, 109);
     background-color: white; 
}

/* contact me */

.con-h2{
    text-align: center;
    color: rgb(243, 75, 109);
    font-size: 3rem;
    font-weight: 600;
}

.con-h2 span{
    color: rgb(46, 24, 29);
}

.contact{
    color: rgb(243, 75, 109);
}

.contact-h3{
    padding-top: 6rem;
}

.contact-h4{
    color:  rgb(46, 24, 29);
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
}

.contact-h1{
    padding: 1rem 0;
}

.contact-h2{
    padding-top: 1rem;
    padding-bottom: 6rem;
}

.box-1{
    padding: 0.7rem;
    margin: 2.2rem 1rem;
    background-color: rgb(46, 24, 29) ;
    display: flex;
    width: 25rem;
}

.box-4{
    padding: 0.7rem;
    margin: 1rem 1rem;
    background-color: rgb(46, 24, 29) ;
    width: 25rem;
    display: flex;
}

.message-1{
     padding: 3rem 7rem;
     background-color: rgb(46, 24, 29);
     margin: 0 1rem;
}

.contact i{
    color:  rgb(46, 24, 29);
}

/* about me */

.about h2{
    font-size: 4rem;
    color: rgb(243, 75, 109);
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}

.about h2 span{
    color:  rgb(46, 24, 29);
}

.about h3{
    font-size:2rem ;
    font-weight: 600;
    margin: 2rem 0;
    color:  rgb(46, 24, 29);
}

.about h3 span{
    color: rgb(243, 75, 109);
}

/* qualification */

.my h2{
    font-size: 3rem;
    font-weight: 600;
    color:  rgb(243, 75, 109) ;
    text-align: center;
    text-decoration: underline;
    padding: 2rem 0;
}

.my h2 span{
    color: rgb(46, 24, 29) ;
}
.row box{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.box{
    padding: 2rem 4rem;
    margin-top: 3rem;
}

.box span{
    color: rgb(46, 24, 29) ;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
}

.box h3{
    color:  rgb(243, 75, 109);
}

/* mywork */

.col-50{
    width: 50%;
}

.col-50 h2{
    text-align: center;
}

.col-33 h2{
    text-align: center;
}

.col-33{
    width: 33.33%;
}

.my-work{
    font-size: 3rem;
    font-weight: 600;
    color:  rgb(243, 75, 109) ;
    text-align: center;
    text-decoration: underline;
    padding: 2rem 0;
}